/*общий стиль*/
body {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
}

section,
header,
footer,
main {
	position: relative;
}

img {
	max-width: 100%;
}

p:last-child {
	margin-bottom: 0;
}

blockquote, q {
    padding-left: 10px;
    border-left: 2px solid #eee;
}

table {
	width: 100%;
}

table td, table th {
	padding: 10px 10px;
    border: 1px solid #c7c7c7;
}

table tr:nth-child(odd) td {
	background: #f1f1f1;
}



table tr:nth-child(even) td {
	background: #dadada;
}

/* SCROLL TO TOP */
.art_net_theme-scroll-to-top {
	width: 50px;
	height: 50px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 150px;
	right: 20px;
	display: none;
	z-index: 999;
	background-color: #44b2fe;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	overflow: hidden;
}
.art_net_theme-scroll-to-top:before, .art_net_theme-scroll-to-top:after {
	content: '';
	position: absolute;
	display: block;
	top: 15px;
	background-color: #fff;
	height: 20px;
	width: 5px;
}
.art_net_theme-scroll-to-top:before {
	-webkit-transform: rotate(-45deg);
	      transform: rotate(-45deg);
	left: 28px;
	box-shadow: -8px 14px 0px 8px #1ba1fe;
}
.art_net_theme-scroll-to-top:after {
	-webkit-transform: rotate(45deg);
	      transform: rotate(45deg);
	right: 28px;
}
.art_net_theme-scroll-to-top:focus {
	outline: none;
}

/* CONTENT IMAGE */

img.alignleft {
    float: left;
    margin: 15px;
}

img.alignright {
    float: right;
    margin: 15px;
}

img.aligncenter {
    display: block;
    margin: 15px auto;
}

/* HEADERS SECTIONS */

.art_net_theme_header-section {
    text-align: center;
}

.art_net_theme_section-overtitle,
.art_net_theme_section-overtitle * {
    font-size: 24px;
    color: #0BBBF8;
    line-height: 30px;
}

.art_net_theme_section-title h2 {
    font-size: 35px;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: bold;
    color: #313131;
}

.art_net_theme_section-subtitle,
.art_net_theme_section-subtitle * {
    font-size: 15px;
    color: #777777;
    line-height: 27px;
}

.art_net_theme_header-section div * {
    margin: 0;
    padding: 0;
}

.art_net_theme_section-title-separator {
    text-align: center;
    margin: 10px auto 23px;
}



.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}

/* Стили самой формы */
.content {
  display: flex; /* делаем колонки в ряд */
  align-items: center; /* выравниваем по центру */
  justify-content: space-between; /* колонки растянутся на всю ширину */
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

/* Стили левой колонки */
.left-side {
  width: 25%; /* занимает 25% общей ширины */
  height: 100%; /* растягиваем на всю высоту */
  position: relative; /* позиционирование относительное (для ::before) */
  display: flex;
  flex-direction: column; /* внутри элементы располагаем в колонку */
}

/* Стили разделительной линии между левой и правой колонкой */
.left-side::before {
  content: ""; /* контент нам не нужен */
  position: absolute; /* позиционируем относительно .left-side */
  height: 70%; /* высота 70% от .left-side */
  width: 2px; /* ширина 2px */
  background: #afafb6;
  right: -15px; /* позиционируем справа + отступ 15px (справа) */
  top: 50%; /* выравниваем по центру */
  transform: translateY(-50%); /* выравниваем по центру */
}

/* Стили правой колонки */
.right-side {
  width: 75%; /* занимает 75% общей ширины */
  margin-left: 75px;
}

/* Элементы левой колонки: адрес, телефон, email */
.details {
  margin-bottom: 15px;
  text-align: center;
}

/* Общие стили для иконок */
.details i {
  font-size: 25px; /* задаем размер */
  color: #3e2093; /* задаем цвет */
  margin-bottom: 10px;
}

/* Стили для заголовков левой колонки */
.topic {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px; /* отступ снизу 7px */
}

/* Стили для текста левой колонки */
.text-one,
.text-two {
  font-size: 14px;
  color: #afafb6;
}

/* Заголовок правой колонки */
.topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
  margin-bottom: 10px;
}

/* Текст правой колонки */
.right-side p {
  margin-bottom: 20px;
}

/* Контейнер для input'ов формы */
.input-box {
  height: 50px; /* по сути задаем высоту input'а */
  width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
  margin-bottom: 20px; /* отступаем снизу 20px */
}

/* Стили для input и textarea (поле сообщение) */
.input-box input,
.input-box textarea {
  height: 100%; /* растягиваем на всю высоту контейнера 50px */
  width: 100%; /* растягиваем на всю ширину */
  border: none; /* убираем внешние края */
  border-radius: 5px; /* скругляем края */
  background: #f0f1f8; /* задаем цвет фона */
  padding: 0 20px; /* отступ справа и слева 20px */
}

/* Отдельно стилизуем поле сообщение */
.input-box textarea {
  resize: none; /* чтобы нельзя было менять высоту */
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

/* Это контейнер для поля сообщение */
.message-box {
  min-height: 110px; /* минимальная высота 110px */
}

/* Стили для контейнера кнопки */
.button {
  display: inline-block; /* делаем блочно-строчный элемент */
}

/* Стили для самой кнопки */
.button input[type="button"] {
  color: #fff;
  font-size: 18px;
  background: #3e2093;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
}

/* Меняем цвет фона при наведении на кнопку */
.button input[type="button"]:hover {
  background: rgb(0, 0, 207);
}

section.ant-section__ant000_devider {
    width: 100%;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    background: #f1f1f1;
    color: #e2e2e2;
    letter-spacing: 10px;
}
